:root {
    --clr-neutral-900: hsl(207, 19%, 9%);
    --clr-neutral-100: hsl(0, 0%, 100%);
    --clr-accent-400: hsl(142, 90%, 61%);
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    display: grid;
    min-height: 100vh;
    place-items: center;
    line-height: 1.6;
    background: var(--clr-neutral-900);
}

.card {
    color: var(--clr-neutral-100);
    position: relative;
    /* background-image: url(img/pexels-cottonbro-studio-5532845.jpg);
    background-size: cover; */
    padding: 8rem 0 0;
    max-width: 35ch;
    border-radius: 0.5rem;
    overflow: hidden;
    transition: transform 500ms ease;
}

.card:hover {
    transform: scale(1.05);
}

.card-image {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.card-content {
    --padding: 1.5rem;
    padding: var(--padding);
    background:linear-gradient(hsl(0 0% 0% / 0),
    hsl(20 0% 0% / .3) 20%,
    hsl(0 0% 0% / 1));
}

.card-title {
    position: relative;
    width: max-content;
}

.card-title::after {
    content: "";
    position: absolute;
    height: 4px;
    left: calc(var(--padding) * -1);
    bottom: 0;
    background-color: var(--clr-accent-400);
    width: calc(100% + var(--padding));
}

.card-body {
    color: rgb(255 255 255 / 0.8);
}

.button {
    cursor: pointer;
    display: inline-block;
    text-decoration: none;
    color: var(--clr-neutral-900);
    background-color: var(--clr-accent-400);
    padding: 0.5em 1.25rem;
    border-radius: .25rem;
}

.button:hover,
.button:focus {
    background-color: var(--clr-neutral-100);
}